.container {
  background-color: #353535;
  padding-top: 1.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 1.4rem;
  margin: 0.6rem;
}

.dateTimerContainer {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
}

.timer {
  grid-row: 1;
  grid-column: 1;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-right: 4.4rem;
  padding-left: 3.2rem;
}

.timerBtn {
  font-size: 1.8rem;
  margin: 1rem 0;
  white-space: nowrap;
  box-shadow: 0 4px 5px 1px #272727;
}

.btnEnabled {
  background-color: #1f964f;
}

.btnDisabled {
  background-color: #696969;
}

.daysContainer {
  grid-column: 1 / 3;
  grid-row: 2;
  box-shadow: 0 4px 5px 1px #272727;
}
