.container {
  display: flex;
}

.day {
  font-size: 1.8rem;
  background-color: #696969;
  padding: 1.1rem;
  color: white;
  box-shadow: inset 1px 1px 2px rgb(0 0 0 / 25%);
  flex-grow: 1;
  width: 53px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day.dayActive {
  background-color: #1f964f;
}

.disabledDays .day {
  background-color: #696969;
}

.disabledDays .dayActive {
  background-color: #949494;
}
