.container {
  background-color: rgb(165, 165, 238);
  padding: 0.2rem 0.2rem;
  margin: 1rem;
}

.deleteIcon {
  margin-left: 1rem;
  cursor: pointer;

  height: 100%;
  opacity: 0.4;
}

.deleteIcon:hover {
  opacity: 1;
}
