/* --------------  Buttons --------------  */
.btn {
  border: none;
  cursor: pointer;
  opacity: 0.95;
  outline: none;
  background-color: initial;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0 1rem;
}

.btn:hover {
  opacity: 0.85;
}

.btn:active {
  opacity: 1;
}

/* --------------  Form Inputs --------------  */
.formInput {
  background-color: black;
  border-color: #333;
  color: white;
  margin: 0;
  padding: 0;
}

.formInput:focus {
  outline: none;
}

/* --------------  Select --------------  */
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: black;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position-x: 100%;
  background-position-y: -5px;
  background-repeat: no-repeat;
  border: none;
  color: white;
  padding-right: 2rem;
}

.select:focus {
  outline: none;
}
