/* --------------  Buttons --------------  */
.btn {
  border: none;
  cursor: pointer;
  opacity: 0.7;
  outline: none;
  background-color: initial;
  color: inherit;
}

.btn:hover {
  opacity: 0.85;
}

.btn:active {
  opacity: 1;
}

.toggle {
  margin: 0 0.5rem;
  transition: all 250ms cubic-bezier(0.26, 0.52, 0.18, 0.72);
}

.toggle.toggleActive {
  background-color: white;
  color: #111;
  opacity: 1;
}
